
.snake-game-button{
 border: none;
 background-color: white;
 margin-bottom: 0;   
}
.snake-game-img{
    height: 50px;
    width:50px;
    margin-bottom: 0;
}
.snake-name{
    margin-left: 15px;
    margin-top: -5px;
}